<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="markup/css/reset.css">
        <link rel="stylesheet" href="markup/css/main.css">
        <script src="markup/js/vendor/modernizr-2.6.2.min.js"></script>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>About us</title>
        <style type="text/css">
            body {
                font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-size:18px;
                Padding:20px;
            }
        h1 {
            font-size:36px;
            font-family: HelveticaNeue-Light, "Helvetica Neue Light";
            font-weight:100;
            line-height: 36px;
            letter-spacing:-1px;
        }
        p {
            line-height:24px;
            letter-spacing:-0.1px;
        }
        .sectionLabel{
            font-size:18px;
            font-weight:bold;
            margin-bottom:20px;
            letter-spacing:-1px;
        }
        
        a:link{
            color:#ff3366;
        }
        a:hover{
            color:#292929;
            text-decoration:none;
        }
        em{
            color:red;
        }

        </style>
    </head>
    <body>
        <div class="container">
            <% include header %>
        <h1>About</h1>
        
        <p>
        TwoByTwo is a double exposure photo app.<p>
        It is a collaboration app that allows you to create double exposure image with friends (or with a random stranger.)
        You take a photo and it immediately goes to a waiting list where others can etch a second exposure over it. Equally you are presented with a feed of single exposure photos you can use as a base to etch a second exposure over them. The results are always fun, unexpected and experimental. </p>
        <p>
        TwoByTwo is made with love in NYC.
        Built by <em>John Tubert</em>, <em>Joseph Lin</em>
        and 
        <em>Amin Torres</em>.
        </p>
        
        Thanks to our testers and friends: <br />
        Joyce Chen, SangIn Lee, Taylor Cole, Candice Hoeflinger. Hong Ko.
        
        We are always eager to hear how we can make our app better.
        email us <span class="email"> <a href="mailto:2by2app@gmail.com">here</a></span> with your thoughts. 
        
        <% include footer %>

        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>   
        <script src="markup/js/plugins.js"></script>
        <script src="markup/js/generic.js"></script> 
        
    </body>
</html>