<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="markup/css/reset.css">
        <link rel="stylesheet" href="markup/css/main.css">
        <script src="markup/js/vendor/modernizr-2.6.2.min.js"></script>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>About us</title>
        
    </head>
    <body>
        <div class="container">
            <% include header %>
        <h1>About</h1>
        
        <p>
        TwoByTwo is a double exposure photo app.<p> <br>
        It is a collaboration app that allows you to create double exposure image with friends (or with a random stranger.)
        You take a photo and it immediately goes to a waiting list where others can etch a second exposure over it. Equally you are presented with a feed of single exposure photos you can use as a base to etch a second exposure over them. The results are always fun, unexpected and experimental. 
        </p>
        <br>
        <p>
        TwoByTwo is made with love in NYC.
        Built by <em><a href="https://twitter.com/jtubert">John Tubert</a></em>, 
        <a href="https://twitter.com/josephlin0922">Joseph Lin</a>
        and 
        <em><a href="https://twitter.com/aminTorres">Amin Torres</a></em>.
        </p>
        <br />
        <p>
        Thanks to our testers and friends: <br />
        Joyce Chen, SangIn Lee, Taylor Cole, Candice Hoeflinger. Hong Ko.
        
        We are always eager to hear how we can make our app better.
        email us <span> <a href="mailto:2by2app@gmail.com">here</a></span> with your thoughts. 
        </p>
        <% include footer %>

        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>   
        <script src="markup/js/plugins.js"></script>
        <script src="markup/js/generic.js"></script> 
        
    </body>
</html>