<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include meta %>
        <title>About us</title>
    </head>
    <body>
        <div class="container">
            <% include header %>
        <h1>About</h1>
        
        <p>
        TwoByTwo is a double exposure photo app.<p> <br>
        It is a collaboration app that allows you to create double exposure images with friends (or with a random stranger.)<br>
        You take a photo and it immediately goes to a waiting list where others can etch a second exposure over it. <br>
        Equally you are presented with a feed of single exposure photos you can use as a base to etch a second exposure over them.<br>The results are always fun, unexpected and experimental. 
        </p>
        <br>
        <p>
        TwoByTwo is made with love in NYC.
        Built by <em><a href="https://twitter.com/jtubert">John Tubert</a></em>, 
        <a href="https://twitter.com/josephlin0922">Joseph Lin</a>
        and 
        <em><a href="https://twitter.com/aminTorres">Amin Torres</a></em>.
        </p>
        <br />
        <p>
        Thanks to our testers and friends: <br />
        Joyce Chen, SangIn Lee, Taylor Cole, Candice Hoeflinger. Hong Ko. <br>
        
        We are always eager to hear how we can make our app better.
        email us <span> <a href="mailto:2by2app@gmail.com">here</a></span> with your thoughts. 
        </p>
        <% include footer %>

        </div>
        <% include scripts %>
        <script src="markup/js/generic.js"></script> 
        
    </body>
</html>