<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include meta %>
        <title>Contact Information </title>
    </head>
    <body>
        <div class="container">
            <% include header %>
            <h1>Contact us <br/></h1>
            <p>
            If you have any questions about 2by2 or feedback on how we may improve the app, you can contact us at:
            <span class="email"> <a href="mailto:2by2app@gmail.com">2by2app@gmail.com</a></span>

            <% include footer %>

        </div>
        <% include scripts %>
        <script src="markup/js/generic.js"></script>
    </body>
</html>
