<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include meta %>
        <title>Error</title>
        
    </head>
    <body>
        <div class="container">
            <% include header %>
            <h1>Oops!, there was an error:</h1>
            <h2><%= error %></h2>
        
            <% include footer %>

        </div>
        <% include scripts %>
        <script src="/markup/js/generic.js"></script> 
        
    </body>
</html>