<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <% include includes/meta %>
        <title>Featured 2by2 Photos</title>
    </head>
    <body>
        <div class="container">
            <% include includes/header %>
            <h1>Featured Photos</h1>
            <a href="#" class="thumb-icon"></a>
            <section id="main-content" role="content">
                <% if(allPhotosData){ %>                
                    <% include includes/picture-viewer-profile %>
                <% } %>   
            </section>
             
            <% include includes/pagination %>
            <% include includes/footer %>
        </div>

        <% include includes/scripts %>

        
        <script src="/markup/js/jquery.query-object.js"></script>
        <script src="/markup/js/featured.js"></script>
    </body>
</html>
