<footer>
    <p>Taken with 2by2 <a href="https://itunes.apple.com/us/app/2by2!/id836711608?ls=1&mt=8" class="footer-download-app">Download the app</a>
    <p><a href="/about">About 2by2</a> / <a href="/terms">Terms</a> / <a href="/contact">Contact</a></p>
</footer>