<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <% include meta %>
        <title>#<%= hasgtag %></title>
    </head>
    <body>
        <div class="container">
            <% include header %>
            <h1>#<%= hasgtag %></h1>
            <a href="#" class="thumb-icon"></a>
            <section id="main-content" role="content">
                <% if(allPhotosData){ %>                
                    <% include picture-viewer-profile %>
                <% } %>   
            </section>
             
            <% include pagination %>
            <% include footer %>
        </div>

        <% include scripts %>
        <script src="/markup/js/jquery.query-object.js"></script>
        <script src="/markup/js/featured.js"></script>
    </body>
</html>
