<header>
    <h1 id="logo">
        <a href="/index">
            2 by 2
        </a>
    </h1>                
    <a id="signin" class="facebook-connect" href="#" target="_self"></a>
    <div class="user-links">
        <ul>
            <li class="logout">
                <a href="#">
                    Log out
                </a>
            </li>
            <li>
                <a id="fullname" href="#"></a>
            </li>
        </ul>
    </div>
</header>