<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <% include meta %>
        <title>2by2</title>
    </head>
    <body>
        <div id="fb-root"></div>
        <div class="container">
            <% include header %>
            <div class="slogan">
                <span>2by2</span> Is a fun and easy way to make unexpected double exposure photos with friends <br/>(or with total strangers.)
            </div>
            
            <a class="download-app" href="https://itunes.apple.com/us/app/2by2!/id836711608?ls=1&mt=8">
                Download on the Appstore
            </a>
            <img class="mockup" src="markup/img/mockup.png" alt="" />
        </div>

        <% include scripts %>
        <script src="markup/js/main.js"></script>
                
    </body>
</html>
