<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include includes/meta %>
        <title>Locations</title>

        <style>
        table,th,td{
            padding: 2px;
        }        
        #map {
          width: 100%;
          height: 600px;
        }
        #controls {
          margin: 0;
          list-style: none;
        }
        #controls li {
          display: inline;
          margin-left: 42px;
          font-family: Sans-Serif;
          font-size: 10pt;
        }
        #fusion-hm-li {
          visibility: hidden;
          margin-left: 8px;
        }    
        </style>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markermanager/1.0/src/markermanager.js"></script>
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>

        
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>   
        <script src="markup/js/maps2.js"></script>
        <script src="markup/js/location2.js"></script>   
        

        
    </head>
    <body>
        <div id="map"></div>
        <div class="container">
            <% include includes/header %>
            <h1>Photo Locations:</h1>

             
             <ul id="controls" style="display:none;">
              <li>
                <label for="mgr-cb">Marker Manager</label>
                <input type="checkbox" id="mgr-cb" name="mgr-cb" />
              </li>
              <li>
                <label for="mc-cb">Marker Clusterer</label>
                <input type="checkbox" id="mc-cb" name="mc-cb" />
              </li>
              <li>
                <label for="fusion-cb">Fusion Table Layer</label>
                <input type="checkbox" id="fusion-cb" name="fusion-cb" />
              </li>
              <li id="fusion-hm-li">
                <label for="fusion-hm-cb">with heatmap</label>
                <input type="checkbox" id="fusion-hm-cb" name="fusion-hm-cb" />
              </li>
              <li>
                <label for="kml-cb">KML Layer</label>
                <input type="checkbox" id="kml-cb" name="kml-cb" />
              </li>
            </ul>

            <table id="thetable" style="width:100%">
                
            </table> 
            
        
            <% include includes/footer %>

        </div>
        <% include includes/scripts %>
        <script src="markup/js/generic.js"></script>
        
        
    </body>
</html>