<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <% include meta %>
        <title>2by2 Detail</title>
    </head>
    <body>
        <div id="fb-root"></div>
        <div class="container">
            <% include header %>
            <section id="main-content" role="content"></section>
            <% include footer %>
        </div>

        <% include scripts %>
        <script src="markup/js/helper.js"></script>
        <script src="markup/js/pdp.js"></script>
    </body>
</html>