<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <% include meta %>
        <title>2by2 Profile</title>
    </head>
    <body>
        
        <div class="container">
            <% include header %>
            <a href="#" class="thumb-icon"></a>
            <section id="main-content" role="content"></section>
            <% include footer %>
        </div>

        <% include scripts %>
        <script src="markup/js/profile.js"></script>

        
    </body>
</html>
