<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="markup/css/reset.css">
        <link rel="stylesheet" href="markup/css/main.css">
        <script src="markup/js/vendor/modernizr-2.6.2.min.js"></script>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Terms of Services</title>
        <style type="text/css">
            body {
                font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-size:18px;
                Padding:20px;
            }
        h1 {
            font-size:36px;
            font-family: HelveticaNeue-Light, "Helvetica Neue Light";
            font-weight:100;
            line-height: 36px;
            letter-spacing:-1px;
        }
        p {
            line-height:24px;
            letter-spacing:-0.1px;
        }
        .sectionLabel{
            font-size:18px;
            font-weight:bold;
            margin-bottom:20px;
            letter-spacing:-1px;
            font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <% include header %>
        <h1>Terms <br/>
            of Services </h1>
        <p>Let’s talk plain english here.<br />
        By using this app you agree to these basic rules:</p>
        <p> You must be 13th or older.
        You must behave professionally, nudity, adult or inappropriate content will be deleted and your account will be deleted immediately. Equality any attack to a person or group will result to deletion and cancellation of your account immediately.
        Do not impersonate another person. </p>
        <p> <span class="sectionLabel">Who owns what?</span><br />
        The photos you post here are yours and yours only.
        When you expose a photo over someone else’s photo you agree to a 50/50 collaboration with that person.
        Equally, when someone exposes over your photo, by posting the image in the first place you explicitly agree to share credit at a 50/50 ownership ratio. </p>
        <p> TwoByTwo may use your photo in our blog just to promote the app and the content created with the app but even then you hold 100% ownership of your photos and we will always credit you. </p>
        <p> You agree to use the 2by2 as is, we are not responsible for any damage caused indirectly or directly to you or your property as a result of using this app. </p>
        <p><strong>Privacy</strong> <br />
        Privacy with TwoByTwo is as plain and as simple as it can get.
        We only display your name to people who the system matches with on a double exposure photo.
        There is no friendship as of yet, all photos are public, do not post anything you do not mean to share.
        Every photo has a public url that can only be initially shared by either the two photographers who participate in a double exposure. Even then they only see your username, feel free to custumize your username as you wish.
        Your location is safe, we only display location information at the city level.
        Your email is secured and only used to login into the app. </p>
        <p> TwoByTwo has the highest standards of privacy and we promise your information will never be shared or sold to any one, period. </p>
        <p> We will let you know when and if these terms do change.
        We welcome your feedback on how we can make these terms friendlier and clearer.
        The TwoByTwo logo, name and other creative assets are properties of TwoByTwo, please contact us before using any material that belongs to us.
        Do not use photos posted on this app without the explicit consent of the creator(s). </p>

        <% include footer %>

        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>   
        <script src="markup/js/plugins.js"></script>
        <script src="markup/js/generic.js"></script>
    </body>
</html>
