<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include meta %>
        <title>Terms of Services</title>
    </head>
    <body>
        <div class="container">
            <% include header %>
        <h1>Terms <br/>
            of Services </h1>
        <p>Let’s talk plain english here.<br />
        By using this app you agree to these basic rules:</p> <br/>

        <p> You must be 13th or older.<br />
        You must behave professionally, nudity, adult or inappropriate content will be deleted and your account will be deleted immediately.<br />Equality any attack to a person or group will result to deletion and cancellation of your account immediately.<br />
        Do not impersonate another person. </p>
        <br />
        <p> <span class="sectionLabel">Who owns what?</span><br />
        The photos you post here are yours and yours only. <br />
        When you expose a photo over someone else’s photo you agree to a 50/50 collaboration with that person.<br />
        Equally, when someone exposes over your photo, by posting the image in the first place you explicitly agree to share credit at a 50/50 ownership ratio. </p>
        <br/>

        <p> 2by2 may use your photo in our blog just to promote the app and the content created with the app but even then you hold 100% ownership of your photos and we will always credit you. </p>
        <br/>
        <p> You agree to use the 2by2 as is, we are not responsible for any damage caused indirectly or directly to you or your property as a result of using this app. </p>
        <br />
        <p><span class="sectionLabel">Privacy</span> <br/>

        Privacy with 2by2 is as plain and as simple as it can get.
        We don’t share your information or sell it, or show it to anyone and we never will.
        We store your email for authentication purposes only, we store your profile picture that we grab from facebook to display on your profile as a way for friends to identify you when they want to follow you. 
        Because everyone’s photos are public, you have the ultimate control on who sees what you post on 2by2 which is to say that if a picture is private, do not post it on the first place.</p>
        
        </p>
        <br/>
        <p> We will let you know when and if these terms do change.<br />
        We welcome your feedback on how we can make these terms friendlier and clearer.<br />
        The 2by2 logo, name and other creative assets are properties of 2by2, please contact us before using any material that belongs to us. <br />
        Do not use photos posted on this app without the explicit consent of the creator(s). </p>

        <% include footer %>

        </div>
        <% include scripts %>
        <script src="markup/js/generic.js"></script>
    </body>
</html>
