<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include meta %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="markup/css/reset.css">
        <link rel="stylesheet" href="markup/css/main.css">
        <script src="markup/js/vendor/modernizr-2.6.2.min.js"></script>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Top 20 users</title>

        <style>
        table,th,td{
            padding: 2px;
        }        
        
        </style>

       
    </head>
    <body>
        <div id="map"></div>
        <div class="container">
            <% include header %>
            <h1>Top 20 users:</h1>            

            <table style="width:100%">
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Count</b></td>  
                </tr>

                <tr>
                    <td></td>
                    <td></td>  
                </tr>
                
                <% for(var i=0; i<20; i++) {%>
                    <% if(users[i]){ %>
                      <tr>
                      <td><%= users[i].name %> <a href="/profile?id=<%= users[i].id %>">(<%= users[i].id %>)</a></td><td><%= users[i].counter %></td>
                      </tr>
                    <% }%>
                <% }%>           
            
            </table>            
        
            <% include footer %>

        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>
        
        <script src="markup/js/plugins.js"></script>
        <script src="markup/js/generic.js"></script>
        
        
    </body>
</html>