<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include includes/meta %>
        <title>Top 20 users</title>
        <style>
            table,th,td{
                padding: 2px;
            }        
        </style>
    </head>
    <body>
        <div id="map"></div>
        <div class="container">
            <% include includes/header %>
            <h1>Top 20 users:</h1>            

            <table style="width:100%">
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Count</b></td>  
                </tr>

                <tr>
                    <td></td>
                    <td></td>  
                </tr>
                
                <% for(var i=0; i<20; i++) {%>
                    <% if(users[i]){ %>
                      <tr>
                      <td><%= users[i].name %> <a href="/profile?id=<%= users[i].id %>">(<%= users[i].email %>)</a></td><td><%= users[i].counter %></td>
                      </tr>
                    <% }%>
                <% }%>           
            
            </table>            
        
            <% include includes/footer %>

        </div>
        <% include includes/scripts %>
        <script src="markup/js/generic.js"></script>
        
        
    </body>
</html>